<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fortitude.shamsulkarim.ieltsfordory">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".StartTrial" />
        <activity android:name=".purchase.in_app_purchase" />
        <activity
            android:name=".PretrainActivity"
            android:theme="@style/Pretrain.Theme"
            />

        <activity android:name=".SplashScreen" />
        <activity android:name=".NoWordLeft" />
        <activity android:name=".MainActivity"
            android:theme="@style/Main.Theme"
            />
        <activity android:name=".practice.Practice"
            android:theme="@style/Main.Theme"
            />
        <activity android:name=".NewTrain"
            android:theme="@style/Main.Theme"
            />
        <activity android:name=".TrainFinishedActivity"
            android:theme="@style/Main.Theme"
            />
        <activity android:name=".practice.PracticeFinished"
            android:theme="@style/Main.Theme"
            />
        <activity android:name=".wordAdapters.NewSettingActivity"
            android:theme="@style/Main.Theme"
            />
         <!-- Register the Alarm Receiver -->
        <activity android:name=".AppLauncher"
            android:theme="@style/Theme.Launcher"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="92bbc6255603d1a30b14cb34e5b1554e6a6adb76" /> -->

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
<!--       Real AdMob App ID android:value="ca-app-pub-7815894766256601~5016349461"-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7815894766256601~5016349461" />

        <receiver
            android:name=".notification.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>